@using BibliotecaDigital.Core.Entities
@*crear un producto*@
@model Libro

<h3>Eliminar libro</h3>

<p>@Model.Titulo</p>
<p>@Model.Autor</p>
<p>@Model.AnioPublicacion</p>


<form asp-controller="Libro" asp-action="Deleted" method="post">


    <input type="hidden" name="Id" value="@ViewBag.Id" />

    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
    <a type="button" asp-controller="Libro" asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>


</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}