@model BibliotecaDigital.Core.Entities.Rol


@{
    ViewData["Title"] = "Create Rol";

}
<h1>Create Rol</h1>

<form asp-controller="Roles" asp-action="Create" method="post">

    <label asp-for="Nombre" class="form-label"></label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>

    

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

