@model BibliotecaDigital.Core.Entities.Usuario

@{
    SelectList roles = ViewBag.Roles;
}

<h2>Create User</h2>

<form asp-action="Create" method="post">
    <label>Nombre:</label>
    <input asp-for="NombreUsuario" class="form-control" /><br>

    <label>Email:</label>
    <input asp-for="Email" class="form-control" /><br>

    <la

    <label>Contraseña:</label>
    <input asp-for="PasswordHash" type="PasswordHash" class="form-control" /><br>

    <label>Rol:</label>
    <select asp-for="Roles" class="form-select" asp-items="roles">

        @*como es multiple por defecto se puede seleccionar uno o varios*@
        <option value="">-- Seleccione uno o varios roles --</option>
    </select>

    <button type="submit">Save</button>
</form>