@model BibliotecaDigital.Core.Entities.Usuario
<h3>Update User</h3>

<form asp-controller="Usuario" asp-action="Update" method="post">
    @*creamos un input oculto con el id del registro en este caso categoria*@
    <input type="hidden" asp-for="Id" />

    <label asp-for="NombreUsuario" class="form-label"></label>
    <input asp-for="NombreUsuario" class="form-control" />
    <span asp-validation-for="NombreUsuario" class="text-danger"></span>

    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="PasswordHash" class="form-label"></label>
    <input asp-for="PasswordHash" class="form-control" />
    <span asp-validation-for="PasswordHash" class="text-danger"></span>

    <label asp-for="Roles" class="form-label"></label>
    <input asp-for="Roles" class="form-control" />
    <span asp-validation-for="Roles" class="text-danger"></span>

    <button type="submit" class="btn btn-outline-primary">Guardar</button>
    <a type="button" asp-controller="Usuario" asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}